
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="https://www.rijkswaterstaat.nl/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Rijkswaterstaat</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigatie</label>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link "><span class="pcoded-micon"></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Configuratie" class="nav-link "><span class="pcoded-micon"></span><span class="pcoded-mtext">Configuratie</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
