<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Integrale GUI - {% block title %}{% endblock %} | Rijkswaterstaat
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="CodedThemes" />

  <!-- fontawesome icon -->
  <link rel="stylesheet" href="/static/fonts/fontawesome/css/fontawesome-all.min.css" />
  <!-- animation css -->
  <link rel="stylesheet" href="/static/plugins/animation/css/animate.min.css" />
  <!-- vendor css -->
  <link rel="stylesheet" href="/static/css/style.css" />
  <!-- Specific head content goes here-->
  {% block head %}{% endblock head %}
</head>

<body>
  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>

  <!-- SideBar -->
  {% include 'includes/sidebar.html' %}

  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      {% block content %}{% endblock content %}
    </div>
  </div>

  <!-- Javascripts -->
  {% include 'includes/scripts.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
</body>

</html>